body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0eaf6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ticket-card {
    background-color: #ffffff;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ticket-title {
    font-size: 24px;
    margin-top: 0;
}

.ticket-description {
    margin: 20px 0;
}

.bot-name {
    text-align: right;
    color: grey;
}