{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveBot | Ticket # {{ ticket_number }}</title>
    <link rel="stylesheet" href="{% static 'drive/css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="ticket-card">
            <h1 class="ticket-title">
                <a target="_blank" href="https://teoria.on.ge/tickets?ticket={{ ticket_number }}" class="ticket-link"># {{ ticket_number }}</a>
            </h1>
            <p class="ticket-description">{{ ticket_description }}</p>
            <p class="bot-name">{{ bot_name }}</p>
        </div>
    </div>
</body>

</html>